.gc-add-company {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 5vw;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gc-add-company-form {
  width: 40%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5vh 0vw;
}